{% extends 'base.html' %} {% block title %} ReleCloud - {{ cruise }} {% endblock
%} {% block content %} {% load static %}
<h1>{{ cruise }}</h1>
<p>{{ cruise.description }}</p>
<p>"{{ cruise }}" te llevará por los siguientes destinos:</p>

<div class="row">
  {% for destination in cruise.destinations.all %}
  <div class="col-md-6 mb-4">
    <a
      href="{% url 'destination_detail' destination.id %}"
      class="list-group-item list-group-item-action"
    >
      <img
        src="{{ destination.photo.url }}"
        alt="{{ destination.name }}"
        class="destination-image img-fluid"
      />
      {{ destination.name }}
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}
