{% extends 'base.html' %}

{% block title %}
  ReleCloud - {{ cruise }}
{% endblock %}

{% block content %}
  <h1>{{ cruise }}</h1>
  <p>{{ cruise.description }}</p>
  <p>"{{ cruise }}" te llevará por los siguientes destinos:</p>
  <ul class="list-group">
    {% for destination in cruise.destinations.all %}
      <a class="list-group-item list-group-item-action" href="{% url 'destination_detail' destination.id %}">{{ destination }}</a>
    {% endfor %}
  </ul>

  <!-- Opiniones -->
  <hr />
  <p>Opiniones de "{{ cruise }}":</p>
  <ul class="list-group">
    {% for review in cruise.opinions.all %}
      <li class="list-group-item">
        <p>{{ review.comment }}</p>
        <p>{{ review.rating }}</p>
        <p>{{ review.user }}</p>
      </li>
      {% empty %}
      <p>No hay opiniones disponibles para este crucero.</p>
    {% endfor %}
  </ul>

  <!-- Enlace para recoger opiniones -->
  <a href="{% url 'opinions' cruise.id %}" class="btn btn-primary mt-3">Deja tu opinión</a>
{% endblock %}
