{% extends 'base.html' %} {% block title %} ReleCloud - Destinos {% endblock %}
{% block content %}
<h1>Destinos de crucero</h1>
<p>
  ¡Si puedes imaginarlo, viajamos allí! A continuación se muestra nuestra lista
  de destinos confirmados.
</p>
<ul class="list-group">
  {% for destination in destinations %}
  <a
    class="list-group-item list-group-item-action"
    href="{% url 'destination_detail' destination.id %}"
  >
    {{ destination }} {% if destination.photo %}
    <img
      src="{% url 'destination_photo' destination.id %}"
      alt="{{ destination.name }} Photo"
      class="img-thumbnail"
    />
    {% endif %}
  </a>
  {% endfor %}
</ul>
{% endblock %}
