{% extends 'base.html' %}

{% block title %}
  ReleCloud - Amplía tus horizontes
{% endblock %}

{% block content %}
  <h1>Bienvenido a ReleCloud</h1>
  <p>Somos la principal compañía de viajes espaciales. Tenemos programado el primer lanzamiento en
     2030, pero ¿por qué esperar? Puedes obtener más información sobre nuestros destinos y 
     registrarte para recibir notificaciones sobre nuestro primer lanzamiento. ¡Esta es una 
     experiencia única en la vida que definitivamente no quieres perderte!</p>
{% endblock %}
